/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 70px;
  background: rgb(230, 219, 219);
  color: 1865F2;
  /* float: left; */
  /* width: 100%; */
}

nav *{
  float: left;
  width: 18%;
  color: 1865F2;
  display: block;
  /* margin: 0 30px 0 20px; */
  /* padding: 0 60px 0 35px; */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.maintext ul{
  text-decoration: none;
  color: red;
  /* float: left; */
}