/* NO classes or IDs */

/* Please make only "Just kidding!" yellow */
section h2{
  color: rgb(43, 216, 86);
}
/* Please make only "twitter" red and 20px */
aside a{
  color: red;
  font-size: 20px;
}
/* Please make "Really hot" purple & "Like WILD hot" larger and blue  */
article h2{
  color: purple;
}

article h2 + h2 {
  color: blue;
  font: larger;
}
/* Please make only bob and pizza green */
ul + ul a{
  color: green;
}