/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     /* width: 80%; */
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     background-color: rgb(102, 118, 138);
     height: 100px;
     /* margin-top: 0; */
}


.main-nav-ul{
     /* margin-top: 20px; */
     list-style: none;
     /* padding-left: 20px; */
     margin: 20px 0 0 15%;
}

.main-nav-ul li{
     display: inline-block;
     /* margin-top: 20px; */
     /* padding-top: 40px; */
     padding: 0 20px 0 0;
     /* margin: 0 40px 0 0; */
}

.main-nav-ul a{
     color: blueviolet;
     background-color: aqua;
     padding: 10px;
     border-radius: 5px;
     text-decoration: none;
     
}

nav *{
     /* float: left; */
     display: inline-block;
     /* margin-top: 20px; */
}

nav > img{
     /* margin-top: 20px; */
     /* list-style: none; */
     /* padding-left: 10px; */
     width: 50px;
     height: 50px;
     margin: 20px 40px 0 15%;
}

.main_main1 nav > a{
     color: blueviolet;
     background-color: aqua;
     padding: 10px;
     border-radius: 5px;
     margin-top: 20px;
     margin-left: 15%;
     text-decoration: none;
     
}


.topsection {
     width: 100%;
     padding-top: 5%;
     padding-left: 10%;
     padding-right: 10%;
     float: left;
     background-color: rgb(102, 118, 138);
}

.topsection h1{
     text-align: center;
     font-size: 50px;
     font-family: 'Courier New', Courier, monospace;
}

.topsection > p{
     position: relative;
     text-align: justify;
     padding: 10px 15% 0 15%;
     
}
/* 
.topsection img{
     position: relative;
     text-align: center;
     padding-top: 15px;
     padding-left: 50%;
     /* width: 100px;
     height: 100px; */


/* .topsection a{
     position: relative;
     text-align: center;
     text-decoration: none;
     color: yellow;
     margin: 0 0 15px 0;
     text-align: center;
} */ 

/* .watch_the_video_ul{
     /* padding-top: 10%; */
     /* list-style: none; */
     /* display: inline-block; */
     /* float: left; */
     /* margin-bottom: 10%; */
     /* text-decoration: none; */



/* .watch_the_video_ul > li{
     text-decoration: none;
     list-style: none;
     display: inline-block;
     /* display: block; */
     /* float: left; */
     /* padding: 0 20px 0 0; */
     /* position:absolute; */
     /* text-decoration: none; */
/* } */ 

/* .watch_the_video_ul  img{
     /* margin-top: 20px; */
/* }  */

/* center_middle_logo{
     /* width: 100%; */
     /* margin-top: 2%; */
     /* margin-left: 50%; */
/* } */ 


/* .watch_the_video_ul  span{
     color: Yellow;
     /* text-decoration: none; */
     /* margin-top: 40px; */
     /* padding-top: 30px; */
     
/* } */ 

/* .topsection > h4{
     text-align: center;
     padding-top: 0;
     margin-top: 10%;
} */

.move-to-center-span{
     position: relative;
     margin-left: 0 auto;
     
}

.center_middle_logo{
     margin-left: 40%;
}

.topsection h4{
     margin-bottom: 2rem;
     padding-top: 7%;
     margin-left: 40%;
}

.section_two_from_top{
     float: left;
     margin-top: 5%;
     margin-left: 20%;
     margin-right: 20%;
}

.section_two_from_top > h2{
     text-align: center;
}

.section_two_from_top >p{
     text-align: center;
}

.big_third_section_from_top{
     margin-top: 5%;
     padding-top: 15%;
     float: left;
     display: block;
     width: 100%;
     height: 600px;
     background-color: rgb(219, 223, 226);
}

.small_section1_in_section_third{
     float: left;
     display: block;
     width: 50%;

}

.small_section2_in_section_third{
     float: left;
     display: block;
     width: 50%;
}

.small_section1_in_section_third >img{
     padding-left: 40%;

}

.small_section1_in_section_third > h3{
     text-align: center;
}
.small_section1_in_section_third > p{
     text-align: center;
     padding-left: 10%;
     padding-right: 10%;
}

.small_section1_in_section_third > a{
     text-decoration: none;
     padding-left: 40%;
}



.small_section2_in_section_third >img{
     padding-left: 40%;

}

.small_section2_in_section_third > h3{
     text-align: center;
}
.small_section2_in_section_third > p{
     text-align: center;
     padding-left: 10%;
     padding-right: 10%;
}

.small_section2_in_section_third > a{
     text-decoration: none;
     padding-left: 40%;
}


.fourth_section{
     width: 100%;
     height: 400px;
     margin-top: 5%;
     float: left;
     display: block;
}

.fourth_section > h2{
     text-align: center;
}

.fourth_section > p{
     text-align: center;
     padding-top: 2%;
     padding-left: 20%;
     padding-right: 20%;
}

.fourth_section > a{
     text-decoration: none;
     padding-left: 45%;
     padding-right: 45%;
}


@media screen and (max-width: 400px) {
     .big_third_section_from_top{
          background-color: aqua;
     }

     .section_two_from_top{
          background-color: violet;
     }

     .small_section1_in_section_third{
          background: red;
     }
}

@media (min-width: 401px) and (max-width:600px) {
     .topsection{
          background: greenyellow;
     }

     .small_section2_in_section_third{
          background: gold;
     }

     .small_section1_in_section_third{
          background: purple;
     }
}


@media (min-width: 601px) and (max-width:800px) {
     .section_two_from_top{
          background: rgb(206, 104, 104);
     }
     
     .small_section1_in_section_third{
          background: silver;
     }

     .small_section2_in_section_third{
          background: rgb(96, 96, 224);
     }
}