
html {
  background-color: rgb(120, 206, 233);
  border: 5px solid green;
  padding: 50px;
}

h1 {
  color: white;
  font-style: italic;
}



img {
  border: 0px;
  padding: 5px;
  width: 150px;
  float: right;
}

#links {
  text-align: center;
}