/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






html {
  /* background-color: rgb(235, 236, 236);
  border: 5px solid green; */
  /* justify-content: justify;
  
  width: 600px; */
}

:root {
  margin: auto;
  background-color: rgb(120, 206, 233);
  width: 700px;
  /* height: 605px; */
  border: 5px solid green;
}
body {
  margin: 10%;
  text-align: justify;
  background-color: rgb(120, 206, 233);
  height: 100%;
  padding: 35px;
}



h1 {
  color: white;
  font-style: italic;
  text-align: center;
  font-size: 35px;
}

#information {
  text-align: center;
}

img {
  border: 0px;
  padding: 5px;
  width: 150px;
  float: right;
}

/* #left_s {
  float: left;
  width: 32%;
}

#center_s {
  margin: 0 auto;
  width: 32%;
}

#right_s {
  float: right;
  width: 32%; */
}


ul {
  list-style-type: none;
  /* text-decoration:line-through; */
  /* text-align: center; */
}