/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     height: 100px;
     width: 100%;
     background: rgb(230, 245, 99);
     border: 2px solid lightcoral;
     clear: both;

}

/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section{
     height: 300px;
     width: 33.33%;
     float: left;
     background-color: rgb(105, 175, 152);
     border: 2px solid rgb(39, 218, 98);
}

.bigbottom {
     width: 50%;
     height: 400px;
     background-color: rgb(79, 79, 167);
     border: 2px solid rgb(192, 70, 70);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
