/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header{
  width: 100%;
  float: left;
  display: block;
  height: 100px;
  /* margin-top: 20px; */
  background: rgb(241, 246, 249);
  position: relative;
  margin-top: 0;
}

.header_ul > li {
  color: green;
  float: left;
  display: block;
  width: 9%;
  margin-top: 20px;
  text-decoration: none;
  position: relative;
  /* margin-left: -4%; */
  /* border: 2px solid red; */
}

.header_ul li > a *{
  /* list-style: none; */
  /* text-decoration: none; */
  float: left;
  display: block;
  width: 0 auto;
  position: relative;
  /* color: red; */
  /* margin-left: 20%; */
}

nav .header_ul {
  margin-left: 30%;
  text-decoration: none;

}

.header_ul > li *{
  text-decoration: none;
  /* margin: 0 0 0 6em; */
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav > a{
  float: left;
  display: block;
  /* width: 10%; */
  /* background: rgb(27, 27, 20); */
  margin-left: 5%;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  /* border-radius: 50%; */
}

nav form{
  float: left;
  display: block;
  width: 0 auto;
  position: relative;
  margin-left: 1%;
  margin-top: 20px;
}

.top_big_main_section{
  float: left;
  display: block;
  width: 100%;
  /* border: 3px solid blue; */
  clear: both;
  position: relative;
  /* height: 200%; */
  /* padding: 20%; */
}

.first_main_section{
  width: 100%;
  float: left;
  display: block;
  /* border: 2px solid red; */
  /* clear: both; */
  text-align: left;
  padding: 5% 68% 5% 5%;
  /* font-size: 25px; */
}

.first_main_section > h1{
  font-size: 3.4em;
  text-align: left;
  /* padding: 5% 69% 2% 10%; */
  /* border: 2px solid blue; */
  /* margin-left: 5%;   */
  /* margin-right: -10; */
  /* margin-right: %; */
}



.first_main_section form > a{
  background: orangered;
  padding: 5px 10px;
  margin-left: 0;
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 1em;
}



/* .second_main_section{
  width: 50%;
  float: left;
  display: block;
  border: 2px solid green;
} */

.first_main_section > span{
  float: left;
  display: block;
  position: relative;
  /* width: 20px;
  height: 20px; */
  /* margin-top: 2%;
  margin-left: 5%; */
  /* size: 10%; */
  width: 0 auto;
  padding: 5% 3% 0 2%;
  /* clear: both; */
}

.second_big_section{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  /* margin-top: 5%; */
  text-align: left;
  /* padding-top: 5%; */
  /* margin-left: 20%; */
  /* margin-right: 20%; */
  /* padding: 5% 25% 5% 40%; */

  /* margin-right: ; */
  /* border: 3px solid purple; */
  /* clear: both; */
  /* padding-right: 60%; */
}

/* .second_big_section h2{
  /* text-align: left; */
  /* padding-left: 40%; */
  /* padding-right: 40%; */


.second_big_section > span{
  color: rgb(202, 119, 11);
}

.second_big_section > a{
  background: orange;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.big_bottom_section{
  width: 100%;
  float: left;
  display: block;
  text-align: center;
  padding: 5% 15% 5% 25%;
  position: relative;
  /* border: 3px solid rgb(182, 212, 10); */
}


nav > .bottom_ul *{
  text-decoration: none;
  list-style: none;
  float: left;
  display: block;
  width: 5%;
  padding-left: 15%;
  position: relative;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 0;

}

.bottom_second_section{
  padding-left: 5%;
  position: relative;
  /* border: 3px solid green; */
  /* text-underline-offset: 100px; */
}


.big_bottom_section .bottom_four_sections > section {
  width: 23%;
  float: left;
  display: block;
  position: relative;
  /* border: 2px solid blue; */
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 2%;
  /* padding-right: 1%; */
}

/* .big_bottom_section{
  background-color: rgb(242, 246, 247);
} */

.bottom_first > a{
  background: gold;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.secondPageMainSection{
  float: left;
  display: block;
  width: 100%;
  /* border: 3px solid magenta; */
  text-align: center;
  position: relative;
  /* text-decoration: none; */
  /* list-style: none; */
}

.secondPageFirstSection{
  padding-top: 2rem;
  position: relative;

}

.secondPageFirstSection *{
  /* padding: 5px; */
  /* float: left; */
  display: block;
  /* border: 2px solid green; */
  text-align: center;
  position: relative;
}

.secondPageFirstSection > img{
  padding: 0 45% 0 48%;
}


.openingHoursSection{
  float: left;
  display: block;
  width: 100%;
  /* border: 3px solid orangered; */
  position: relative;
  /* list-style: none; */
  clear: both;
}

.openingHoursFirst {
  text-decoration: none;
  list-style: none;
  /* width: 40%; */
  float: left;
  display: block;
  position: relative;
  /* padding: 0 40%; */
  /* padding-left: 33%; */
  padding-left: 33%;
  /* border: 2px solid blue; */
  /* padding-right: -20%; */
}

.openingHoursSecond{
  text-decoration: none;
  list-style: none;
  float: left;
  /* width: 40%; */
  display: block;
  position: relative;
  padding-left: 10%;
  /* padding-left: 15%; */
  /* border: 2px solid pink; */
  /* clear: both; */
}

.openingHoursImage{
  float: left;
  width: 100%;
  /* display: inline; */
  display: block;
  /* clear: both; */
  /* text-align: center; */
  padding: 2% 0 5% 0;
  /* padding-top: 50px; */
  /* border: 3px solid gold; */
}

.lastBigSection{
  float: left;
  display: block;
  width: 100%;
  /* border: 3px solid green; */
  text-align: center;
  padding: 5% 30% 5% 35%;
}

.lastBigSection > img{
  
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

/* .second_main_section{
  background-image: url("../assets/berries.png");
  
} */

main{
  background-image: url("../assets/with\ orange.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  /* float: left;
  display: block; */
  position: relative;
  /* background-position: right; */
  background-size: cover;
  /* transform: rotateY(180deg); */
  /* transform: rotate(360deg); */
  z-index: -1;
  /* overflow: hidden; */
  /* resize: both; */
  /* overflow: scroll; */
  
}

.addTwoPicturesBackground{
  background:  url(../assets/with\ pie.jfif),  radial-gradient(circle at 50% 40%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.986), white, white);
  /* background-position: left right; */
  background-repeat: no-repeat repeat;
  /* background-size: 50% 100%; */
  float: left;
  /* display: block; */
  /* width: 100%;
  height: 500px; */
  width: 100vw;
  height: 60vh; 
  background-size: contain;
  /* padding-right: 50%; */
  /* margin-right: -40%; */
  z-index: -1;
}

.second_big_section{
  padding: 5% 10% 5% 50%;
}

.second_big_section> p + p, a{
  /* padding-left: 50%;
  padding-right: 5%;
  padding-bottom: 5%; */
  /* padding-right: -80%; */
  /* width: 100%; */
  padding-bottom: 5%;

}

/* .bottom_second_section  .bottom_ul li > a *{
  border-bottom: 2px solid gray;
  
} */

.bottom_first{
  background: url(../assets/in\ bowl.jfif);
  background-repeat: no-repeat;
  z-index: -1;
  /* height: ; */
  width: 80%;
  height: 40vh;
  background-size: cover;
  /* margin-left: -20%; */
  /* padding-left: -20%; */
}

.bottom_two{
  background: url(../assets/in\ cafe.jfif) no-repeat;
  z-index: -1;
  width: 80vw;
  height: 40vh;
  background-size: cover;
  position: relative;
  background-position: left;
}

.bottom_three{
  background: url(../assets/with\ mushrooms.jfif) no-repeat;
  z-index: -1;
  width: 8vw;
  height: 40vh;
  background-size: cover;
  position: relative;
}

.bottom_four{
  background: url(../assets/toast\ egg.jfif) no-repeat;
  z-index: -1;
  width: 80vw;
  height: 40vh;
  background-size: cover;
}

