/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 50vw;
  height: 100%;
  /* border: 2px solid black; */
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  /* border-radius: 40%; */

}
li{
  width: 50vw;
  height: 65px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2%;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgb(101, 50, 221);
}
#gold{
  background: rgba(255, 215, 0);
}
