/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  background: black;
  color: white;
}

nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav a{
  text-decoration: none;
}
nav a:first-child {
  color: white;
  font-size: 40px;
  /* text-decoration: none; */
  display: block;
  /* background: white; */
  margin-top: 5px;
}

nav a + a {
  color: yellow;
  margin-top: 17px;
}

nav ul{
  width: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav form input{
  width: 100%;
  margin-top: 14px;
}

main + section > section{
  width: 33.33%;
  float: left;
  position: relative;
  height: 35px;
}


main > section{
  width: 50%;
  height: 500px;
  float: left;
}

main section + section section{
  width: 45%;
  height: 250px;
  float: left;
  display: block;
  border: 1px solid black;
}