/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  padding-top: 5%;
  display: block;
  margin: 0 auto;
  width: 600px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
