/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     padding: 20px;
     height: 100px;
     width: 100%;
     border: 3px solid red;
     background: lightblue;
     clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section{
     height: 300px;
     width: 33.33%;
     border: 3px solid purple;
     background: lightgreen;
     float: left;
}

@media screen and (min-width:700px) {
     section{
          background: rgb(252, 148, 148);
          padding: 40px;
     }
}

@media (min-width: 0px) and (max-width: 600px) {
     .mobilefirst{
          background: purple;
          border: 3px solid red;
          border-radius: 15%;
          width: 100%;
     }
     .removeformobilefirst{
          display: none;
     }
     
}

@media (min) {
     
}