/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
      height: 100px;
      color: rgb(5, 19, 19);
      font-size: 35px;
      border: 3px solid rgb(158, 12, 151);
      clear: both;
}

section{
  height: 200px;
  width: 20%;
  font-size: 30px;
  color: rgb(4, 27, 27);
  border: 3px solid rgb(158, 12, 151);
  float: left;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.thiccsection{
  width: 40%;
  font-size: 80px;
}

@media screen and (max-width: 650px){
  section{
    background: rgb(28, 172, 59);
    /* width: 3333.3333%; */
  }
  
}

@media (min-width:650px) and (max-width: 870px) {
  section{
    background: palevioletred;
    width: 33.33%;
  }
  .thiccsection{
    display: none;
  }
}