h1 {
  color: rgb(6, 6, 153);
  text-decoration: underline;
  background:gold;
}

h2 {
  color: purple;
  font-weight: bold;
  font-size: 25px;
  border: orange;
}

 /* <h1>Make this text blue, underlined, and have a gold background</h1>

		<h2>Make this text purple, bolded, 25px, and hav an orange border </h2>

		<section>
			<p>Make this section width of 50%, height of 200px, background of gray, border of black, and the paragraph text
				white</p>
		</section>

		<footer>
			<h3>Make this footer have a black background, with light green border, and this text 20px white plus a font-family
				of Roboto</h3>
		</footer> */

section {
  width: 50%;
  height: 200px;
  background: gray;
  border: black;
}
p {
  color: white;
}

/* footer {
  background: black;
  border: lightgreen;
  font: 20px white Roboto;

} */
h3 {
  background: black;
  border: rgb(11, 168, 11);
  font: 20px white Roboto;
  color: white;
}
