/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
height: 100px;
width: 100%;
border: 3px solid red;
clear: both;
}

footer {
     height: 100px;
     width: 100%;
     border: 3px solid red;
     clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section{
     height: 300px;
     width: 33.33%;
     border: 3px solid green;
     float: left;
}

.bigbottom{
     
     width: 50%;
     border: 3px solid orangered;


}