<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>

		<header class="page-header">

			<h1 id="page-title" class="title">Wombat Coffee Rosaters</h1>

			<nav>
				<ul id="main-nav" class="nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Coffee</a></li>
					<li><a href="#">Brewers</a></li>
					<li><a href="#" class="featured">Specials</a></li>
				</ul>
			</nav>
		</header>
		<script type="text/javascript" src="js/main.js">
		</script>
	</body>

</html>